 @import url('https://fonts.googleapis.com/css?family=Amiri|Poppins');
 *{
  color: dimgrey;
 }
 html,
 body {
   margin: 0;
   padding: 0;
   font-family: "poppins", serif;
 }

 .btn-custom,
 .hire-me,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   font-family: "Poppins", sans-serif;
 }

 section {
   padding: 80px;
 }

 .aside {
   position: fixed;
   width: 45%;
   height: 100vh;
   background-image: url(../img/billy.jpg);
   background-size: cover;
   background-position: 50% 20%;
 }

 .big-desc {
   line-height: 100%;
 }

 .big-desc span {
   font-size: 2rem;
   color: #fff;
 }

 .big-desc p {
   font-size: 1.2rem;
   color: #fff;
 }

 .content {
   float: right;
   width: 55%;
   height: 100vh;
 }

 .menu {
   position: fixed;
   top: 20px;
   right: 10px;
   width: 8%;
   height: 20%;
   z-index: 999;
   transition: 0.5;
 }

 .menu:hover {
   cursor: pointer;
 }

 .menu span {
   display: block;
   width: 100%;
   height: 4px;
   border-radius: 10px;
   background-color: rgb(53, 52, 52);
   margin-bottom: 6px;
   line-height: 10%;
 }

 .menu span:nth-child(1) {
   margin-top: 25%;
 }

 .p-menu {
   position: fixed;
   top: 0;
   right: 0;
   width: 55%;
   height: 100vh;
   background: #ffffffef;
   color: rgb(53, 52, 52);
   text-align: center;
   display: none;
   overflow: hidden;
   z-index: 999;
 }

 .p-menu .links {
   position: absolute;
   top: 30%;
   left: 45%;
 }

 .links a {
   font-size: 1.4rem;
   color: rgba(94, 94, 94, 0.767);
   text-transform: uppercase;
   line-height: 200%;
   font-weight: 600;
 }

 .links ul li:nth-child(1) {
   -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
   animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
 }

 .links ul li:nth-child(2) {
   -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
   animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
 }

 .links ul li:nth-child(3) {
   -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.9s both;
   animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.9s both;
 }

 .links ul li:nth-child(4) {
   -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
   animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
 }

 .links ul li:nth-child(5) {
   -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
   animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
 }

 .links a:hover {
   color: rgb(53, 52, 52);
 }

 .name {
   width: 100%;
   margin: 25% auto 15% auto;
   text-align: center;
   line-height: 90%;
 }

 .title {
   font-family: "Amiri";
   font-size: 1.5rem;
   font-weight: 600;
   color: dimgrey;
   margin-bottom: 20px;
 }

 /* #home {
        display: none;
      } */

 .name .big-title {
   font-size: 5rem;
   font-weight: 700;
   -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
   animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;
   -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
   animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
 }

 .med-title {
   font-size: 3rem;
   font-weight: 700;
   color: rgb(53, 52, 52);
 }

 .dim-text {
   font-size: 1.1rem;
   color: dimgrey;
   font-weight: 100;
   margin-bottom: 50px;
   -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
   animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s both;
 }

 .name .btn-border {
   display: block;
   font-size: 1.2rem;
   padding: 0.9rem;
   font-weight: 500;
   color: rgb(53, 52, 52);
   border: 2px solid rgb(53, 52, 52);
   width: 50%;
   height: 50px;
   background: #fff;
   margin: 0px auto;
   transition: 0.5s;
   -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
   animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s both;
 }

 .btn-border:hover {
   background: rgb(53, 52, 52);
   color: #fff;
 }

 .recrut {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 55%;
 }

 .hire {
   width: 50%;
   float: left;
   text-align: left;
 }

 .hire p a {
   color: rgb(53, 52, 52);
   margin-left: 30px;
   font-size: 1.1rem;
   font-weight: 800;
 }

 .social {
   width: 50%;
   text-align: right;
   float: right;
 }

 .social p {
   margin-right: 30px;
   font-size: 1.1rem;
   font-weight: 800;
 }

 .about {
   margin: 40px 0 100px 0;
 }

 .num-people {
   line-height: 90%;
 }

 .about {
   margin-bottom: 40px;
 }

 .number {
   font-size: 3.8rem;
   font-weight: 700;
   color: rgb(53, 52, 52);
   margin-bottom: 0px;
 }

 .tiny-text {
   font-size: 1.1rem;
   color: dimgrey;
   margin-top: 0px;
 }

 .services,
 .surprising,
 .call 
  {
   margin-top: 60px;
   margin-bottom: 40px;
 }

 .service i {
   font-size: 5rem;
   height: 30px;
 }
.services p{
  color: dimgrey;
}
 .call {
  padding: 1rem;
 }

  .flaticon {
    width: 60px;
  }
 .tiny-title {
   font-weight: 800;
   font-size: 1.2rem;
   margin: 0;
 }

 .progression p {
   font-weight: 700;
   text-transform: uppercase;
 }

 .progress {
   height: 14px !important;
   border: 1px solid black;
   background-color: #fff !important;
 }

 .determinate {
   margin: 2px;
   background-color: #000 !important;
 }

 .mbt50 {
   margin: 30px 0px 90px 0px;
 }

 .card-action a {
   font-size: 1.1rem;
   color: rgba(94, 94, 94, 0.767) !important;
   text-transform: uppercase;
   line-height: 200%;
   font-weight: 100;
 }

 .card-action a:hover {
   color: rgb(53, 52, 52) !important;
 }

 .activator {
   width: 335px;
   height: 250px;
 }

 .btn-black {
    color: rgb(53, 52, 52);
    font-size: 1.1rem;
    font-weight: 800;
 }
.mb-20 {
  margin-bottom: 20px;
}
 /* ================================================================================== */

 .cssload-wrench {
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   font: 42px "Helvetica Neue", sans-serif;
   line-height: 263px;
   margin: 263px auto;
   text-align: center;
   position: relative;
   width: 100%;
   display: block;
   height: 37px;
   position: relative;
   width: 37px;
 }

 .cssload-wrench::before,
 .cssload-wrench::after {
   position: absolute;
   font-smoothing: none;
   -o-font-smoothing: none;
   -ms-font-smoothing: none;
   -webkit-font-smoothing: none;
   -moz-font-smoothing: none;
 }

 .cssload-wrench::before {
   animation: cssload-spin 2.05s linear infinite;
   -o-animation: cssload-spin 2.05s linear infinite;
   -ms-animation: cssload-spin 2.05s linear infinite;
   -webkit-animation: cssload-spin 2.05s linear infinite;
   -moz-animation: cssload-spin 2.05s linear infinite;
   box-shadow: 0 0 0 3px rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   content: "+";
   font-size: 278px;
   height: 68px;
   line-height: 0;
   left: 0;
   top: 0;
   text-indent: -45px;
   transform-origin: 50% 50%;
   -o-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
   width: 68px;
 }

 .cssload-wrench::after {
   content: "";
   background: rgb(0, 0, 0);
   height: 37px;
   width: 37px;
   position: absolute;
   top: 16px;
   left: 16px;
 }

 @keyframes cssload-spin {
   0% {
     transform: scale(1) rotate(0deg) translateZ(0);
   }
   10%,
   20% {
     transform: scale(1.4) rotate(0deg) translateZ(0);
   }
   30%,
   45% {
     transform: scale(1.4) rotate(-90deg) translateZ(0);
   }
   55%,
   100% {
     transform: scale(1) rotate(-90deg) translateZ(0);
   }
 }

 @-o-keyframes cssload-spin {
   0% {
     -o-transform: scale(1) rotate(0deg) translateZ(0);
   }
   10%,
   20% {
     -o-transform: scale(1.4) rotate(0deg) translateZ(0);
   }
   30%,
   45% {
     -o-transform: scale(1.4) rotate(-90deg) translateZ(0);
   }
   55%,
   100% {
     -o-transform: scale(1) rotate(-90deg) translateZ(0);
   }
 }

 @-ms-keyframes cssload-spin {
   0% {
     -ms-transform: scale(1) rotate(0deg) translateZ(0);
   }
   10%,
   20% {
     -ms-transform: scale(1.4) rotate(0deg) translateZ(0);
   }
   30%,
   45% {
     -ms-transform: scale(1.4) rotate(-90deg) translateZ(0);
   }
   55%,
   100% {
     -ms-transform: scale(1) rotate(-90deg) translateZ(0);
   }
 }

 @-webkit-keyframes cssload-spin {
   0% {
     -webkit-transform: scale(1) rotate(0deg) translateZ(0);
   }
   10%,
   20% {
     -webkit-transform: scale(1.4) rotate(0deg) translateZ(0);
   }
   30%,
   45% {
     -webkit-transform: scale(1.4) rotate(-90deg) translateZ(0);
   }
   55%,
   100% {
     -webkit-transform: scale(1) rotate(-90deg) translateZ(0);
   }
 }

 @-moz-keyframes cssload-spin {
   0% {
     -moz-transform: scale(1) rotate(0deg) translateZ(0);
   }
   10%,
   20% {
     -moz-transform: scale(1.4) rotate(0deg) translateZ(0);
   }
   30%,
   45% {
     -moz-transform: scale(1.4) rotate(-90deg) translateZ(0);
   }
   55%,
   100% {
     -moz-transform: scale(1) rotate(-90deg) translateZ(0);
   }
 }

 /* ----------------------------------------------
      * Generated by Animista on 2019-1-23 18:19:3
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */

 /**
      * ----------------------------------------
      * animation fade-in-bottom
      * ----------------------------------------
      */

 .fade-in-bottom {
   -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
   animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
 }

 @-webkit-keyframes fade-in-bottom {
   0% {
     -webkit-transform: translateY(50px);
     transform: translateY(50px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;
   }
 }

 @keyframes fade-in-bottom {
   0% {
     -webkit-transform: translateY(50px);
     transform: translateY(50px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;
   }
 }

 /* ----------------------------------------------
      * Generated by Animista on 2019-1-23 18:25:38
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */

 /**
      * ----------------------------------------
      * animation fade-in-fwd
      * ----------------------------------------
      */

 .fade-in-fwd {
   -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
   animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
 }

 @-webkit-keyframes fade-in-fwd {
   0% {
     -webkit-transform: translateZ(-80px);
     transform: translateZ(-80px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     opacity: 1;
   }
 }

 @keyframes fade-in-fwd {
   0% {
     -webkit-transform: translateZ(-80px);
     transform: translateZ(-80px);
     opacity: 0;
   }
   100% {
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     opacity: 1;
   }
 }

 /* ----------------------------------------------
      * Generated by Animista on 2019-1-23 18:38:3
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */

 /**
      * ----------------------------------------
      * animation tracking-in-expand
      * ----------------------------------------
      */

 @-webkit-keyframes tracking-in-expand {
   0% {
     letter-spacing: -0.5em;
     opacity: 0;
   }
   40% {
     opacity: 0.6;
   }
   100% {
     opacity: 1;
   }
 }

 @keyframes tracking-in-expand {
   0% {
     letter-spacing: -0.5em;
     opacity: 0;
   }
   40% {
     opacity: 0.6;
   }
   100% {
     opacity: 1;
   }
 }

 .preload {
   display: none;
   position: absolute;
 }