//regles generales de la page
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #555555;
}

body {
  background: #f0f0f0;
}

header{
  margin-top: 20px;
  margin-bottom: 80px;
}

a {
  text-decoration: none; //desactivation du soulignage des liens
}

.container {
  background: #FFFFFF;
  margin: 80px 160px 80px 160px;
  padding: 80px;
  transition: transform .2s; //controle de la vitesse de la transition
  -webkit-box-shadow: 0px 0px 43px -2px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 43px -2px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 43px -2px rgba(0,0,0,0.29);
}

// Au survole du container
.container:hover {
  transform: scale(1.05); //type de transition
  -webkit-box-shadow: 0px 0px 131px -75px rgba(0,0,0,0.93);
  -moz-box-shadow: 0px 0px 131px -75px rgba(0,0,0,0.93);
  box-shadow: 0px 0px 131px -75px rgba(0,0,0,0.93);
}

.user-infos {
  margin-top: 60px;
  background: #ffffff;
}

.org-infos {
  text-align: right;
  background: #ffffff;
  align: left;
}

.big-title {
  text-align: center;
  margin-bottom: 60px;
}

.object {
  margin-bottom: 30px;
}

.content {
  text-align: justify;
}

.content ul li {
  text-decoration: none; // retire les puces sur la liste
  list-style: square;
  margin-left: 40px;
}

.veuillez {
  margin-top: 30px;
  text-align: right;
  margin-left: 100px;
}

.sign {
  text-align: right;
  margin-bottom: 100px;
}

.sign img {
  margin-top: 30px;
  width: 150px;
}
