*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    color: #707070;
}

@font-face {
    font-family: "Motion Picture";
    src: url(../fonts/MotionPicture_PersonalUseOnly.ttf);
}

.primary {
    color:#08B597 ;
}
.bg-primary {
    background-color: #08B597;
}
.mt-5{
    margin-top:5px;
}
.mt-10{
    margin-top:10px;
}
.pt-5{
    padding-top:5px;
}
.pt-10{
    padding-top:10px;
}

.mb-5{
    margin-bottom:5px;
}
.mb-10{
    margin-bottom:10px;
}
.pb-5{
    padding-bottom:5px;
}
.pb-10{
    padding-bottom:10px;
}

.nav-1 a{
    text-decoration: none;
    padding-right: 10px;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
}
.nav-1{
    height:40px;
    margin: 0;
    padding:5px;
}
.nav-right {
    margin-top: 5px;
    float: right;
}
.nav-right a:nth-of-type(7){
    margin-left: 20px;
}
.nav-links{
    margin-top: 5px;
    float: left;
}
.container{
    display: block;
    margin: 0 auto;
    width: 900px;
}
.logo {
    font-family: "Motion Picture", serif;
    font-size: 3em;
    margin: 8px;
    font-weight: lighter;
    text-align: center;
}
hr{
    opacity: 0.2;
}
.nav-2 nav {
    margin:10px 0px 10px;
    height: 30px;
}
.nav-2 a{
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    color: #707070;
}
.banner{
    position: relative;
    background: url("../img/fond-top.jpg");
    width: 100%;
    height: 600px;
    background-repeat:no-repeat;
    background-size: cover;
    /*filter: brightness(70%);*/
}

.banner-body{
    position: relative;
    top: 30%;
    left: 0;
    z-index: 1;
}
.banner-cat{
    text-align: center;
    padding: 5px;
    display: inline-block;
    width: 70px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
}
.banner-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    z-index: 1;
}
.banner-header p{
    margin: 10px 0px;
    width:80%;
    color: #fff;
    font-size: 2.1em;
    font-weight: bolder;
    font-family:'Merriweather', serif;
}
.sub-date{
    color: #fff;
    font-size: 8px;
    font-weight: bolder;
}

.banner-content{
    position: relative;
    top: 100px;
    margin-top: 0px;
    color: #fff;
    font-weight: bolder;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.small-banner {
    height: 150px;
    width: 200px;
}

.para{
    margin: 15px;
    width: 80%;
    top:-35%;
    text-align: center;
    position: relative;
    z-index: 1;
    bottom: 50px;
}

.para p {
    font-family:'Merriweather', serif;
}

.content-box{
    display: flex;
    flex-flow: row wrap;
    align-items:  space-around;
    justify-content: center;
    
}
.content-col {
    display: flex;
    width: 25%;
    flex-flow: column wrap;
    align-content: space-around;
}
.content-col-1{
    display: flex;
    width: 50%;
    align-content: space-around;
}
.col-x{
    width: 100%;

}
.col-x img{
    width: 100%;
    height: 150px;
}
.content-col-1 img{
    width: 100%;
    height: 100%;
    padding:0px 20px 0px 20px;
}

.para1{
    margin: 15px;
    width: 50%;
    top:40%;
    text-align: center;
    position: absolute;
    bottom: 50px;
}

.para1 p {
    font-family:'Merriweather', serif;
}