.container{
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
}
h1{
  margin: 10px;
}
h2{
  margin: 80px;
  text-align: center;
}
section{
  background: #b2def0;
}
.text-color{
    display: inline;
}

.text-color p{
  display: inline-block;
  width: 45%;
  height: 10px;
  margin: 20px;
  text-align: justify;
}
/* .bg-color{
  margin: 0;
  padding: 0;
} */
.bg-color .bg1-all {
    height: 50px;
    width: 10%;
    padding: 20px;
    margin: 20px;
    float: left;
}
.bg1-all .text-color{
    color: #fff;
    margin: 20px;
}
.
