
                    <div class="wrap wrap--w1790">
                        <div class="container-fluid">
                            <div class="header__content">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="images/icon/logo-black.png" alt="Tatee" class="logo1"/>
                                    </a>
                                </div>
                                <div class="header__content-right">
                                    <nav class="header-nav-menu">
                                        <ul class="menu nav-menu">
                                            <li class="menu-item wh"><a href="index.html">Accueil</a></li>
                                            <li class="menu-item wh">
                                                <a href="apropos.html">Qui sommes nous?</a>
                                            </li>
                                            <li class="menu-item wh menu-item-has-children">
                                                <a href="#">Solution</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="technologie.html">Technologie</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="mat.html">Materiaux</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="404.html">Avantages</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item wh">
                                                <a href="rea.html">Realisations</a>
                                            </li>
                                            <li class="menu-item wh ">
                                                <a href="404.html">Formation</a>
                                            </li>
                                            <li class="menu-item wh">
                                                <a href="contact.html">contactez nous</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="header-social">
                                        <ul class="list-social">
                                            <li class="list-social__item">
                                                <a class="ic-fb" href="#">
                                                    <i class="zmdi zmdi-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-insta" href="#">
                                                    <i class="zmdi zmdi-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-twi" href="#">
                                                    <i class="zmdi zmdi-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-pinterest" href="#">
                                                    <i class="zmdi zmdi-pinterest"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-google" href="#">
                                                    <i class="zmdi zmdi-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>