/* All cores */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Thasadith', sans-serif;
}

#wrapper {
    display: grid;
    grid-template-rows: repeat(1fr);
}

/* Header */

.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    height: 50px;
    -webkit-box-shadow: -1px 9px 58px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 9px 58px -9px rgba(0,0,0,0.52);
    box-shadow: -1px 9px 58px -9px rgba(0,0,0,0.52);
}
.navbar{
    overflow: hidden;
    padding: 12px 0;
    display:  grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.nav-logo {
    margin-left: 150px;
}
.logo {
    width: 70px;
}
.flag {
    width: 20px;
}
.links {
    margin-right: 150px;  
    float: right;
}
.links a {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}
.active {
    width: 100%;
    color: #fff;
    background: #e62739;
}
.links a:hover {
    color: #fff;
    background: #e62739;
}

/* Banner */

.banner {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/gab.jpg);
    background-size:  cover;
    background-position: center;
    display: grid;
    height: 95vh;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-top: 15%;
}

.banner-title p {
    font-family:'Roboto', sans-serif;
    font-size: 46px;
    color: #fff;
}
.banner-btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    display: block;
    color: #fff;
    background: #e62739;
    width: 150px;
    height: 50px;
    padding: 12px;
    margin: 40px auto 0 auto;
    -webkit-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    -moz-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
}
.banner-btn:hover {
    background: #c00014;

}
.main {
    background-color: #e8edf3;
    width: 100%;
    height: 600px;
    padding-top: 15%;
}
.domain-form {
    width: 50%;
    margin: 0 auto;
}
 .main input[type=text] {
    width: 100%;
    padding: 20px;
    border: 1px solid #cfcfcf;
}
.submit {
    margin: 20px;
    text-align:  center;
}
.main input[type=submit] {
    cursor: pointer;
    background: #e62739;
    border: none;
    width: 30%;
    padding: 12px;
    height: 50px;
    -webkit-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    -moz-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
}
.main input[type=submit]:hover {
    background-color: #c00014;
}
.main input[value="GO"] {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.main input[value^=".ga"] {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 18px;
    text-align: right;
}

/* Footer */
.end {
    width: 100%;
    background-color: #e62739;
    padding: 1em;
}
.f-content {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 120px;
    justify-items: center;
}
.f-links {
    width: 30%;
    display:  inline-block;
}
.f-links li, .f-links li a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    list-style:  none;
}