/* All cores */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Thasadith', sans-serif;
}
body {
    scroll-behavior: smooth;
}
#wrapper {
    display: grid;
    grid-template-rows: repeat(1fr);
}

/* Header */

.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    height: 50px;
    -webkit-box-shadow: -1px 9px 58px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 9px 58px -9px rgba(0,0,0,0.52);
    box-shadow: -1px 9px 58px -9px rgba(0,0,0,0.52);
}
.navbar{
    overflow: hidden;
    padding: 12px 0;
    display:  grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.nav-logo {
    margin-left: 150px;
}
.logo {
    width: 70px;
}
.flag {
    width: 20px;
}
.links {
    margin-right: 150px;  
    float: right;
}
.links a {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}
.active {
    width: 100%;
    color: #fff;
    background: #16b84e;
}
.links a:hover {
    color: #fff;
    background: #16b84e;
}

/* Banner */

.banner {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/gab.jpg);
    background-size:  cover;
    background-position: center;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-top: 15%;
	-webkit-animation: kenburns-top-left 5s ease-out both;
	        animation: kenburns-top-left 5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-15 13:54:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
            transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
            transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}


.banner-title p {
    font-family:'Roboto', sans-serif;
    font-size: 46px;
    color: #fff;
}
.banner-btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    display: block;
    color: #fff;
    background: #16b84e;
    width: 150px;
    height: 50px;
    padding: 12px;
    margin: 40px auto 0 auto;
    -webkit-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    -moz-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
}
.banner-btn:hover {
    background: #1fa055;

}
.main {
    background: url(../img/15.png);
    background-size:  cover;
    background-position: center;
    width: 100%;
    height: 600px;
    padding-top: 15%;
}
.domain-form {
    width: 50%;
    margin: 0 auto;
}
 .main input[type=text] {
    width: 100%;
    padding: 20px;
    border: 1px solid #cfcfcf;
}
.submit {
    margin: 20px;
    text-align:  center;
}
.main input[type=submit] {
    cursor: pointer;
    background: #16b84e;
    border: none;
    width: 30%;
    padding: 12px;
    height: 50px;
    -webkit-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    -moz-box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
    box-shadow: -1px 9px 58px -10px rgba(0,0,0,1);
}
.main input[type=submit]:hover {
    background-color: #1fa055;
}
.main input[value="GO"] {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.main input[value^=".ga"] {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 18px;
    text-align: right;
}

/* Footer */
.end {
    width: 100%;
    background-color: #16b84e;
    padding: 1em;
}
.f-content {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 120px;
    justify-items: center;
}
.f-links {
    width: 30%;
    display:  inline-block;
}
.f-links li, .f-links li a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    list-style:  none;
}
